# Dependencies
node_modules
/.pnp
.pnp.js
pnpm-lock.yaml
yarn.lock
package-lock.json

# Testing
/coverage

# Production
/build
/.next
/out

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MCP file logs
/logs

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
Thumbs.db

.claude
.wolf
